div {
  float: left;
  display: inline;
  width: 25%;
  height: 100px;
  font-size: 30px;
}

#one {
  background-color: red;
}

#em {
  font-size: 2em;
}

#two {
  background-color: grey;
}

#rem {
  font-size: 2rem;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
